@charset "UTF-8";

@font-face {
  font-family: '동희체';
  src: url(../font/나눔손글씨\ 노력하는\ 동희.ttf);    
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  min-height: 100vh;
}


.main-container {
  background-color: #fafaf3;
  box-shadow: 1px 5px 15px 1px #b1ad85;
  padding: 40px;
  border-radius: 30px;
  margin: 30px;
  font-family: '동희체';
  font-size: 25px;
}

.calendar {
  width: 600px;
  margin: 50px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month {
  font-size: 35px;
}

.nav {
  display: flex;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  content: '';
}

.today::after {
  position: absolute;
  top: 24px;
  right: -11px;
  width: 74px;
  height: 58px;
  display: block;
  background: url("../image/completestamp.png") center/cover;
  content: '';
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  margin: 20px 0px -20px 41%;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #fffef0;
  border: 2px solid #b1b085;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more2 {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #382b22;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #fffef0;
  border: 2px solid #b1b085;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before,
button.learn-more2::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9f5c4;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b1b085, 0 0.625em 0 0 #fcffe2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover,
button.learn-more2:hover {
  background: #ffffe9;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before,
button.learn-more2:hover::before {
  box-shadow: 0 0 0 2px #b1ae85, 0 0.5em 0 0 #fdffe2;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active,
button.learn-more2:active {
  background: #feffe9;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before,
button.learn-more2:active::before {
  box-shadow: 0 0 0 2px #b1ad85, 0 0 #ffffe2;
  transform: translate3d(0, 0, -1em);
}

